/*Variáveis*/
:root {
  --green: #04c35c;
  --blue: #2b6cb0;

  --white: #ffffff;
  --white300: #f7fafc;

  --dark: #1a202c;
  --input: #e8e8e8;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Merriweather", serif;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

p,
span,
button,
input,
a,
label {
  font-family: "Lato", sans-serif;
}
a {
  color: var(--blue);
}
.landing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  padding: 230px 50px 20px 50px;
}
.img {
  max-width: 400px;
  min-width: 300px;
}
.img img {
  width: 100%;
}
.login {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--dark);
}
.login h1 {
  font-size: 2em;
  font-weight: 700;
  color: var(--dark);
}
.login input {
  border: 2px solid var(--input);
  padding: 15px 15px;
  border-radius: 6px;
}
.login .checkbox {
  display: flex;
  justify-content: space-between;
}
.btnEntrar {
  background: var(--green);
  padding: 15px 5px;
  border-radius: 6px;
  text-align: center;
  color: var(--white);
  font-weight: 700;
}
.btnEntrar:hover {
  filter: brightness(2);
  transition: 0.4s;
}
.loginGoogle {
  background: var(--dark);
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 5px;
  border-radius: 6px;
  align-items: center;
}
.loginGoogle:hover {
  filter: brightness(2);
  transition: 0.4s;
}
.loginGoogle img {
  max-width: 25px;
}
.loginGoogle p {
  color: var(--white);
}
.footer {
  display: flex;
  margin: 100px auto 0 auto;
  gap: 5px;
}
@media (max-width: 768px) {
  .landing {
    padding-top: 100px;
  }
  .img {
    display: none;
  }
  .login {
    gap: 25px;
  }
  .login h2 {
    font-size: 1.3em;
  }
  .login h1 {
    font-size: 1.8em;
  }
}
